alquisport-dao/src/test/resources/pistea.dtd

<!ELEMENT dataset (
    audit_trail*,
    calendar*,
    company*,
    coupon*,
    coupon_used*,
    court*,
    court_feature*,
    days*,
    feature*,
    hibernate_sequences*,
    image*,
    message*,
    month*,
    municipality*,
    province*,
    rent*,
    rental_client*,
    role*,
    schedule*,
    sport_event_rentals*,
    sport_facility*,
    sport_facility_features*,
    sport_facility_image*,
    sport_facility_member*,
    sports_event*,
    user*,
    user_role*,
    year*,
    zone*)>

<!ELEMENT audit_trail EMPTY>
<!ATTLIST audit_trail
    ID CDATA #REQUIRED
    DATE CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
>

<!ELEMENT calendar EMPTY>
<!ATTLIST calendar
    ID CDATA #REQUIRED
>

<!ELEMENT company EMPTY>
<!ATTLIST company
    ID CDATA #REQUIRED
    CIF CDATA #REQUIRED
    ADDRESS CDATA #IMPLIED
    TYPE CDATA #IMPLIED
    ZIP_CODE CDATA #IMPLIED
    NAME CDATA #REQUIRED
    ID_MUNICIPALITY CDATA #IMPLIED
    ID_PROVINCE CDATA #IMPLIED
    ID_ZONE CDATA #IMPLIED
>

<!ELEMENT coupon EMPTY>
<!ATTLIST coupon
    ID CDATA #REQUIRED
    CODE CDATA #REQUIRED
    DISCOUNT_QUANTITY CDATA #REQUIRED
    DISCOUNT_TYPE CDATA #REQUIRED
    MAX_TIMES_USE CDATA #REQUIRED
    TIMES_USED CDATA #REQUIRED
>

<!ELEMENT coupon_used EMPTY>
<!ATTLIST coupon_used
    ID CDATA #REQUIRED
    ID_USER CDATA #IMPLIED
    ID_COUPON CDATA #IMPLIED
    ID_RENT CDATA #IMPLIED
>

<!ELEMENT court EMPTY>
<!ATTLIST court
    ID CDATA #REQUIRED
    NAME CDATA #IMPLIED
    QUANTITY CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    DAYS_CLIENT CDATA #IMPLIED
    DAYS_MEMBER CDATA #IMPLIED
    HOUR_LIGHTS_ON CDATA #IMPLIED
    RESERVATION_TYPE CDATA #IMPLIED
    STATE CDATA #IMPLIED
    CALENDAR_ID CDATA #IMPLIED
    ID_SPORT_FACILITY CDATA #IMPLIED
>

<!ELEMENT court_feature EMPTY>
<!ATTLIST court_feature
    COURT_ID CDATA #REQUIRED
    FEATURE_ID CDATA #REQUIRED
>

<!ELEMENT days EMPTY>
<!ATTLIST days
    ID CDATA #REQUIRED
    DAY CDATA #IMPLIED
    dayOfWeek CDATA #IMPLIED
    ID_MONTH CDATA #IMPLIED
    ID_SCHEDULE CDATA #IMPLIED
>

<!ELEMENT feature EMPTY>
<!ATTLIST feature
    ID CDATA #REQUIRED
    IDENTIFICATOR CDATA #REQUIRED
    POSITION CDATA #REQUIRED
    VALUE CDATA #REQUIRED
>

<!ELEMENT hibernate_sequences EMPTY>
<!ATTLIST hibernate_sequences
    sequence_name CDATA #IMPLIED
    sequence_next_hi_value CDATA #IMPLIED
>

<!ELEMENT image EMPTY>
<!ATTLIST image
    ID CDATA #REQUIRED
    DESCRIPTION CDATA #IMPLIED
    DISC_PATH CDATA #REQUIRED
    HEIGHT CDATA #IMPLIED
    image CDATA #IMPLIED
    NAME CDATA #REQUIRED
    WEIGHT CDATA #IMPLIED
>

<!ELEMENT message EMPTY>
<!ATTLIST message
    ID CDATA #REQUIRED
    DATE_READ CDATA #REQUIRED
    DATE_SEND CDATA #REQUIRED
    STATE CDATA #REQUIRED
    SUBJECT CDATA #REQUIRED
    TEXT CDATA #REQUIRED
    USER_FROM_ID CDATA #IMPLIED
    USER_TO_ID CDATA #IMPLIED
>

<!ELEMENT month EMPTY>
<!ATTLIST month
    ID CDATA #REQUIRED
    MONTH CDATA #IMPLIED
    monthName CDATA #IMPLIED
    ID_YEAR CDATA #IMPLIED
>

<!ELEMENT municipality EMPTY>
<!ATTLIST municipality
    ID CDATA #REQUIRED
    NAME CDATA #IMPLIED
    ID_PROVINCE CDATA #IMPLIED
>

<!ELEMENT province EMPTY>
<!ATTLIST province
    ID CDATA #REQUIRED
    NAME CDATA #IMPLIED
>

<!ELEMENT rent EMPTY>
<!ATTLIST rent
    ID CDATA #REQUIRED
    DATE_END CDATA #IMPLIED
    DATE_START CDATA #IMPLIED
    PAYMENT_STATE CDATA #IMPLIED
    QUANTITY_PAID CDATA #IMPLIED
    COURT_ID CDATA #IMPLIED
>

<!ELEMENT rental_client EMPTY>
<!ATTLIST rental_client
    CLIENT_ID CDATA #REQUIRED
    RENTAL_ID CDATA #REQUIRED
>

<!ELEMENT role EMPTY>
<!ATTLIST role
    ID CDATA #REQUIRED
    NAME CDATA #IMPLIED
    ROLE_ID CDATA #IMPLIED
>

<!ELEMENT schedule EMPTY>
<!ATTLIST schedule
    ID CDATA #REQUIRED
    END_HOUR CDATA #IMPLIED
    MINUTE_END CDATA #IMPLIED
    MINUTE_START CDATA #IMPLIED
    PRICE_COURT CDATA #IMPLIED
    PRICE_LIGHT CDATA #IMPLIED
    START_HOUR CDATA #IMPLIED
>

<!ELEMENT sport_event_rentals EMPTY>
<!ATTLIST sport_event_rentals
    SPORT_EVENT_ID CDATA #REQUIRED
    RENTAL_ID CDATA #REQUIRED
>

<!ELEMENT sport_facility EMPTY>
<!ATTLIST sport_facility
    ID CDATA #REQUIRED
    ADDRESS CDATA #IMPLIED
    TYPE CDATA #IMPLIED
    ZIP_CODE CDATA #IMPLIED
    COLOR_ONE CDATA #IMPLIED
    COLOR_TWO CDATA #IMPLIED
    COLOR_THREE CDATA #IMPLIED
    EMAIL CDATA #IMPLIED
    PHONE1 CDATA #IMPLIED
    PHONE2 CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    GET_HERE CDATA #IMPLIED
    NAME CDATA #REQUIRED
    STATE CDATA #IMPLIED
    URL_NAME CDATA #REQUIRED
    ID_MUNICIPALITY CDATA #IMPLIED
    ID_PROVINCE CDATA #IMPLIED
    ID_ZONE CDATA #IMPLIED
    IMAGE_ID CDATA #IMPLIED
>

<!ELEMENT sport_facility_features EMPTY>
<!ATTLIST sport_facility_features
    SPORT_FACILITY_ID CDATA #REQUIRED
    FEATURE_ID CDATA #REQUIRED
>

<!ELEMENT sport_facility_image EMPTY>
<!ATTLIST sport_facility_image
    SPORT_FACILITY_ID CDATA #REQUIRED
    IMAGE_ID CDATA #REQUIRED
>

<!ELEMENT sport_facility_member EMPTY>
<!ATTLIST sport_facility_member
    ID CDATA #REQUIRED
    ID_USER CDATA #IMPLIED
    ID_SPORTFACILITY CDATA #IMPLIED
>

<!ELEMENT sports_event EMPTY>
<!ATTLIST sports_event
    ID CDATA #REQUIRED
    DESCRIPTION CDATA #IMPLIED
    NAME CDATA #REQUIRED
    ID_SPORTFACILITY CDATA #IMPLIED
>

<!ELEMENT user EMPTY>
<!ATTLIST user
    USERTYPE CDATA #REQUIRED
    ID CDATA #REQUIRED
    ADDRESS CDATA #IMPLIED
    TYPE CDATA #IMPLIED
    ZIP_CODE CDATA #IMPLIED
    ACCOUNT_NUMBER CDATA #IMPLIED
    CONTROL_CODE CDATA #IMPLIED
    ENTITY_CODE CDATA #IMPLIED
    OFFICE_CODE CDATA #IMPLIED
    BIRTH_DATE CDATA #IMPLIED
    EMAIL CDATA #IMPLIED
    PHONE1 CDATA #IMPLIED
    PHONE2 CDATA #IMPLIED
    ENABLED CDATA #IMPLIED
    FIRST_LASTNAME CDATA #REQUIRED
    NAME CDATA #REQUIRED
    PASSWORD CDATA #REQUIRED
    SECOND_LASTNAME CDATA #REQUIRED
    username CDATA #REQUIRED
    ID_MUNICIPALITY CDATA #IMPLIED
    ID_PROVINCE CDATA #IMPLIED
    ID_ZONE CDATA #IMPLIED
    ROLE_ID CDATA #IMPLIED
    ID_COMPANY CDATA #IMPLIED
    ID_SPORTFACILITY CDATA #IMPLIED
>

<!ELEMENT user_role EMPTY>
<!ATTLIST user_role
    ID CDATA #REQUIRED
>

<!ELEMENT year EMPTY>
<!ATTLIST year
    ID CDATA #REQUIRED
    YEAR CDATA #IMPLIED
    ID_CALENDAR CDATA #IMPLIED
>

<!ELEMENT zone EMPTY>
<!ATTLIST zone
    ID CDATA #REQUIRED
    NAME CDATA #IMPLIED
    ID_MUNICIPALITY CDATA #IMPLIED
>

