alquisport-dao/test.dtd

<!ELEMENT dataset (
    administrator_sportfacility*,
    audit_trail*,
    company*,
    coupon*,
    coupon_used*,
    court*,
    court_day*,
    court_feature*,
    court_special_day*,
    day*,
    feature*,
    hibernate_sequences*,
    image*,
    message*,
    municipality*,
    province*,
    rent*,
    rental_client*,
    role*,
    schedule*,
    special_price*,
    sport_event_rentals*,
    sport_facility*,
    sport_facility_day*,
    sport_facility_features*,
    sport_facility_image*,
    sport_facility_member*,
    sport_facility_special_day*,
    sports_event*,
    user*,
    user_role*,
    zone*)>

<!ELEMENT administrator_sportfacility EMPTY>
<!ATTLIST administrator_sportfacility
    ID CDATA #REQUIRED
    ADMINISTRATOR CDATA #REQUIRED
    SportFacility CDATA #REQUIRED
>

<!ELEMENT audit_trail EMPTY>
<!ATTLIST audit_trail
    ID CDATA #REQUIRED
    DATE CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
>

<!ELEMENT company EMPTY>
<!ATTLIST company
    ID CDATA #REQUIRED
    CIF CDATA #REQUIRED
    ADDRESS CDATA #IMPLIED
    TYPE CDATA #IMPLIED
    ZIP_CODE CDATA #IMPLIED
    NAME CDATA #REQUIRED
    ID_MUNICIPALITY CDATA #REQUIRED
    ID_PROVINCE CDATA #REQUIRED
    ID_ZONE CDATA #REQUIRED
>

<!ELEMENT coupon EMPTY>
<!ATTLIST coupon
    ID CDATA #REQUIRED
    CODE CDATA #REQUIRED
    DISCOUNT_QUANTITY CDATA #REQUIRED
    DISCOUNT_TYPE CDATA #REQUIRED
    MAX_TIMES_USE CDATA #REQUIRED
    TIMES_USED CDATA #REQUIRED
>

<!ELEMENT coupon_used EMPTY>
<!ATTLIST coupon_used
    ID CDATA #REQUIRED
    ID_USER CDATA #IMPLIED
    ID_COUPON CDATA #IMPLIED
    ID_RENT CDATA #IMPLIED
>

<!ELEMENT court EMPTY>
<!ATTLIST court
    ID CDATA #REQUIRED
    NAME CDATA #IMPLIED
    QUANTITY CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    PRICE CDATA #IMPLIED
    DAYS_CLIENT CDATA #IMPLIED
    DAYS_MEMBER CDATA #IMPLIED
    HOUR_LIGHTS_ON CDATA #IMPLIED
    RESERVATION_TYPE CDATA #IMPLIED
    STATE CDATA #IMPLIED
    ID_SPORT_FACILITY CDATA #IMPLIED
>

<!ELEMENT court_day EMPTY>
<!ATTLIST court_day
    COURT_ID CDATA #REQUIRED
    DAY_ID CDATA #REQUIRED
>

<!ELEMENT court_feature EMPTY>
<!ATTLIST court_feature
    COURT_ID CDATA #REQUIRED
    FEATURE_ID CDATA #REQUIRED
>

<!ELEMENT court_special_day EMPTY>
<!ATTLIST court_special_day
    COURT_ID CDATA #REQUIRED
    DAY_ID CDATA #REQUIRED
>

<!ELEMENT day EMPTY>
<!ATTLIST day
    DAYTYPE CDATA #REQUIRED
    ID CDATA #REQUIRED
    DAY CDATA #IMPLIED
    DAY_OF_WEEK CDATA #IMPLIED
    MONTH_NAME CDATA #IMPLIED
    ID_SCHEDULE CDATA #IMPLIED
>

<!ELEMENT feature EMPTY>
<!ATTLIST feature
    ID CDATA #REQUIRED
    IDENTIFICATOR CDATA #REQUIRED
    POSITION CDATA #REQUIRED
    VALUE CDATA #REQUIRED
>

<!ELEMENT hibernate_sequences EMPTY>
<!ATTLIST hibernate_sequences
    sequence_name CDATA #IMPLIED
    sequence_next_hi_value CDATA #IMPLIED
>

<!ELEMENT image EMPTY>
<!ATTLIST image
    ID CDATA #REQUIRED
    DESCRIPTION CDATA #IMPLIED
    DISC_PATH CDATA #REQUIRED
    HEIGHT CDATA #IMPLIED
    image CDATA #IMPLIED
    NAME CDATA #REQUIRED
    WEIGHT CDATA #IMPLIED
>

<!ELEMENT message EMPTY>
<!ATTLIST message
    ID CDATA #REQUIRED
    DATE_READ CDATA #REQUIRED
    DATE_SEND CDATA #REQUIRED
    STATE CDATA #REQUIRED
    SUBJECT CDATA #REQUIRED
    TEXT CDATA #REQUIRED
    USER_FROM_ID CDATA #IMPLIED
    USER_TO_ID CDATA #IMPLIED
>

<!ELEMENT municipality EMPTY>
<!ATTLIST municipality
    ID CDATA #REQUIRED
    NAME CDATA #IMPLIED
    ID_PROVINCE CDATA #IMPLIED
>

<!ELEMENT province EMPTY>
<!ATTLIST province
    ID CDATA #REQUIRED
    NAME CDATA #IMPLIED
>

<!ELEMENT rent EMPTY>
<!ATTLIST rent
    ID CDATA #REQUIRED
    DATE_END CDATA #IMPLIED
    DATE_START CDATA #IMPLIED
    PAYMENT_STATE CDATA #IMPLIED
    QUANTITY_PAID CDATA #IMPLIED
    COURT_ID CDATA #IMPLIED
>

<!ELEMENT rental_client EMPTY>
<!ATTLIST rental_client
    CLIENT_ID CDATA #REQUIRED
    RENTAL_ID CDATA #REQUIRED
>

<!ELEMENT role EMPTY>
<!ATTLIST role
    ID CDATA #REQUIRED
    NAME CDATA #IMPLIED
>

<!ELEMENT schedule EMPTY>
<!ATTLIST schedule
    ID CDATA #REQUIRED
    END_HOUR CDATA #IMPLIED
    MINUTE_END CDATA #IMPLIED
    MINUTE_START CDATA #IMPLIED
    START_HOUR CDATA #IMPLIED
>

<!ELEMENT special_price EMPTY>
<!ATTLIST special_price
    ID CDATA #REQUIRED
    DATE_FINISH CDATA #IMPLIED
    DATE_START CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    END_HOUR CDATA #IMPLIED
    MINUTE_END CDATA #IMPLIED
    MINUTE_START CDATA #IMPLIED
    START_HOUR CDATA #IMPLIED
    COURT_ID CDATA #IMPLIED
>

<!ELEMENT sport_event_rentals EMPTY>
<!ATTLIST sport_event_rentals
    SPORT_EVENT_ID CDATA #REQUIRED
    RENTAL_ID CDATA #REQUIRED
>

<!ELEMENT sport_facility EMPTY>
<!ATTLIST sport_facility
    ID CDATA #REQUIRED
    ADDRESS CDATA #IMPLIED
    TYPE CDATA #IMPLIED
    ZIP_CODE CDATA #IMPLIED
    COLOR_ONE CDATA #IMPLIED
    COLOR_TWO CDATA #IMPLIED
    COLOR_THREE CDATA #IMPLIED
    EMAIL CDATA #IMPLIED
    PHONE1 CDATA #IMPLIED
    PHONE2 CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    GET_HERE CDATA #IMPLIED
    NAME CDATA #REQUIRED
    STATE CDATA #REQUIRED
    URL_NAME CDATA #REQUIRED
    ID_MUNICIPALITY CDATA #REQUIRED
    ID_PROVINCE CDATA #REQUIRED
    ID_ZONE CDATA #REQUIRED
    IMAGE_ID CDATA #IMPLIED
>

<!ELEMENT sport_facility_day EMPTY>
<!ATTLIST sport_facility_day
    SPORT_FACILITY_ID CDATA #REQUIRED
    DAY_ID CDATA #REQUIRED
>

<!ELEMENT sport_facility_features EMPTY>
<!ATTLIST sport_facility_features
    SPORT_FACILITY_ID CDATA #REQUIRED
    FEATURE_ID CDATA #REQUIRED
>

<!ELEMENT sport_facility_image EMPTY>
<!ATTLIST sport_facility_image
    SPORT_FACILITY_ID CDATA #REQUIRED
    IMAGE_ID CDATA #REQUIRED
>

<!ELEMENT sport_facility_member EMPTY>
<!ATTLIST sport_facility_member
    ID CDATA #REQUIRED
    ID_USER CDATA #IMPLIED
    ID_SPORTFACILITY CDATA #IMPLIED
>

<!ELEMENT sport_facility_special_day EMPTY>
<!ATTLIST sport_facility_special_day
    SPORT_FACILITY_ID CDATA #REQUIRED
    DAY_ID CDATA #REQUIRED
>

<!ELEMENT sports_event EMPTY>
<!ATTLIST sports_event
    ID CDATA #REQUIRED
    DESCRIPTION CDATA #IMPLIED
    NAME CDATA #REQUIRED
    ID_SPORTFACILITY CDATA #IMPLIED
>

<!ELEMENT user EMPTY>
<!ATTLIST user
    USERTYPE CDATA #REQUIRED
    ID CDATA #REQUIRED
    ACCOUNT_NON_EXPIRED CDATA #IMPLIED
    ACCOUNT_NON_LOCKED CDATA #IMPLIED
    ADDRESS CDATA #IMPLIED
    TYPE CDATA #IMPLIED
    ZIP_CODE CDATA #IMPLIED
    ACCOUNT_NUMBER CDATA #IMPLIED
    CONTROL_CODE CDATA #IMPLIED
    ENTITY_CODE CDATA #IMPLIED
    OFFICE_CODE CDATA #IMPLIED
    BIRTH_DATE CDATA #IMPLIED
    EMAIL CDATA #IMPLIED
    PHONE1 CDATA #IMPLIED
    PHONE2 CDATA #IMPLIED
    CREATED_DATE CDATA #IMPLIED
    CREDENTIALS_NON_EXPIRED CDATA #IMPLIED
    ENABLED CDATA #IMPLIED
    FIRST_LASTNAME CDATA #REQUIRED
    LAST_MODIFIED_DATE CDATA #IMPLIED
    NAME CDATA #REQUIRED
    PASSWORD CDATA #REQUIRED
    SECOND_LASTNAME CDATA #REQUIRED
    username CDATA #REQUIRED
    ID_MUNICIPALITY CDATA #REQUIRED
    ID_PROVINCE CDATA #REQUIRED
    ID_ZONE CDATA #REQUIRED
    ID_COMPANY CDATA #IMPLIED
>

<!ELEMENT user_role EMPTY>
<!ATTLIST user_role
    ID CDATA #REQUIRED
    ROLE CDATA #REQUIRED
    USER CDATA #REQUIRED
>

<!ELEMENT zone EMPTY>
<!ATTLIST zone
    ID CDATA #REQUIRED
    NAME CDATA #IMPLIED
    ID_MUNICIPALITY CDATA #IMPLIED
>

